name:  Generar animaci贸n
on:
  schedule:
    #Cada semana
    - cron:  '37 * 7,14,21,28 * *'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name:  Descargar proyecto
        uses: actions/checkout@v2
        with:
          persist-credential: false

      - name:  Generar GIF
        run: |
          sh video.sh
          
      - name:  Crear Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          branch: animation
          base: master
          delete-branch: true
          commit-message: Nueva animaci贸n generada
          title: Nueva animaci贸n generada
          body: |
            Se ha generado autom谩ticamente una nueva animaci贸n con 7 d铆as de duraci贸n.
          labels: animation
          reviewers: rmaafs
